<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TungstenAutomation-UI-Playwright Suite" verbose="2" data-provider-thread-count="2">
    <test verbose="2" preserve-order="true" name="Playwright Cucumber tests">
        <classes>
                <class name="com.org.ui.auto.runner.TestRunner"/>
        </classes>

    </test>
</suite>


<!--        parallel="classes" thread-count="5"-->